body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width:100%;
}
.back-arrow {
    margin: 10px;
}
.back-link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: font-size 0.2s, font-weight 0.2s, color 0.2s;
}
.back-link:hover {
    text-decoration: none;  /* Ensure there's no underline */
    font-size: 20px;        /* Make the font slightly larger */
    font-weight: bold;      /* Make the font bold */
    color: black;           /* Change text color to black */
}
/* Arrow-specific styles */
.arrow {
    font-size: 28px;        /* Increase arrow size */
    font-weight: bold;      /* Make arrow bold */
    color: black;           /* Make arrow black */
    vertical-align: middle; /* Align arrow vertically with text */
}
.back-link:hover .arrow {
    font-size: 32px;        /* Make arrow slightly larger on hover */
    color: black;           /* Ensure arrow color stays black on hover */
}
.container, .container-no-faces {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc9c9;
    background-color: rgba(233, 230, 230, 0.7);
    z-index: 1;
    
}
h1 {
    text-align: center;
    padding: 20px 0;
}
h2{
    text-align: center;
    margin-top: 40px;
}
h4{
    text-align:center;
}
.head2 {
    text-align: center;
    margin-top: 30px;
}
video {
    display: block;
    margin: 0 auto ;/* Add margin at the bottom for spacing */
    height: 300px;
    width: 450px;
}
#faces_images {
    white-space: nowrap;
    width: auto;
    height: 250px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0 0px 9px 2px #ccc;
  }
  .faces {
      padding-right: 20px;
      padding-bottom: 50px;
  }
.display-properties{
    margin: 20px 0;
    border:#007bff;

}

ul {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin-top:10px;
}
ul li{
    font-size: 18px;
    padding:5px;  
}

.alert {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}